.card {
    border: 3px solid black;
    border-radius: 5px;
    height: calc(3.5 * 30px);
    width:  calc(1.5 * 30px);
    padding: 2em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
}

.card.red {
    color: red;
}
.card.black {
    color: black;
}

.card .corner {
    position: absolute;
    line-height: 90%;
    margin-left: .5rem;
    margin-top: -.5rem;
    margin: 0;
}

.card .corner.tl {
    top: 10px;
    left: 10px;
}
.card .corner.tr {
    top: 10px;
    right: 10px;

}
.card .corner.bl {
    bottom: 10px;
    /* bottom: 2vw; */
    left: 10px;
    /* left: 2vw; */
}
.card .corner.br {
    transform: scale(1, -1);
    bottom: 10px;
    /* bottom: 2vw; */
    right: 10px;
    /* right: 2vw; */
}

.card .center {
    font-size: 4rem;
    /* font-size: 11.5vw; */
    letter-spacing: 0.3rem;
    
}