button {
    margin-left: 1em;
    margin-right: 1em;
}

body {
    background-image: linear-gradient(to right, black, red , white 20% 80%, red, black);
}

h1 small {
    margin: 2rem;
    font-size: .5em;
}
h1 small span {
    margin: .2rem;
}
h1 small .red {
    color: red;
}

h1 small .black {
    color: black;
}

.btn-game {
    padding: initial 5rem;
}